# Ignora builds
**/build/
**/FreeRTOS-Kernel/

# Arquivos gerados pelo CMake
CMakeCache.txt
CMakeFiles/
#cmake_install.cmake
#Makefile
#*.cmake

# Binários e objetos
*.o
*.a
*.so
*.dll
*.exe
*.out
#*.uf2
*.elf
*.bin
*.hex

# Arquivos temporários
*.tmp
*.swp
*~

#IDE
.vscode/
.idea/
*.code-workspace

#lib
/pico-sdk/
/lib/
